@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
  --preto: rgb(52, 28, 12);
  --branco: rgb(188, 189, 139);
  --escuroverde: rgb(55, 61, 32);
  --escurovermelho: rgb(96, 21, 32);
  --medioverde: rgb(113, 119, 68);
  font-size: 14px;
}

html {
  color-scheme: light dark;
} 

@media (prefers-color-scheme: dark) {
  :root {
    --preto: rgb(240, 240, 195);
    --branco: rgb(1, 16, 0);
    --escuroverde: rgb(35, 41, 10);
    --escurovermelho: rgb(76, 10, 32);
    --medioverde:rgb(54, 59, 15) ;
  }

  html {
    color-scheme: dark;
  } 
}

[modo-light-dark="light"] {
  color-scheme: light;
  --preto: rgb(52, 28, 12);
  --branco: rgb(188, 189, 139);
  --escuroverde: rgb(55, 61, 32);
  --escurovermelho: rgb(96, 21, 32);
  --medioverde: rgb(113, 119, 68);
}

[modo-light-dark="dark"] {
  color-scheme: dark;
    --preto: rgb(240, 240, 195);
    --branco: rgb(1, 16, 0);
    --escuroverde: rgb(35, 41, 10);
    --escurovermelho: rgb(76, 10, 32);
    --medioverde:rgb(54, 59, 15) ;
}

body {
  background-color: var(--branco);
  color: var(--preto);
}

header {
  padding: 15px;
  text-align: center;
  background: var(--escuroverde);
  color: var(--branco);
  font-family:  "Bitcount Grid Single";
  font-size: 4rem;
  font-weight: 900;
  font-style: bold;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

a {
  background-color: var(--medioverde);
  color: var(--escurovermelho);
  border: 5px solid var(--escurovermelho);
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
}

a:hover, a:active {
  background-color: var(--escurovermelho);
  color: var(--branco);
}

button {
  background-color: var(--medioverde);
  color: var(--escurovermelho);
  border: 5px solid var(--escurovermelho);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  font-size: 1.3rem;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
}

button:hover, button:active {
  background-color: var(--escurovermelho);
  color: var(--branco);
}

select {
   background-color: var(--medioverde);
  color: var(--escurovermelho);
  border: 5px solid var(--escurovermelho);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  font-size: 1.3rem;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
}

select:hover, select:active {
   background-color: var(--escurovermelho);
   color: var(--branco);
}


.titulo {
  text-align: center;
  font-family: 'Bitcount Grid Single';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  background-color: var(--escurovermelho);
  color: var(--branco);
  padding: 20px;
}

#news {
  display: flex;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
  border: 5px solid var(--escuroverde);
  border-radius: 10px;
  background-color: var(--escuroverde);
  width: 170px;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  align-items: center;
}

#news img {
  width: 125px;
  border-radius: 10px;


}

p {
  font-size: 1.3rem;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    max-width: 60ch;
}

article {
    margin-left:25px;
    margin-right:25px;
}

#contato {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--medioverde);
  padding: 30px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:  
    "wdth" 100;
  font-size: 1.8rem;
}

#contactForm {
 background-color: var(--medioverde);
 padding: 40px;
 width: 320px;
 text-align: center; 
}

#contactForm h3 {
  color: var(--preto);
  margin-bottom: 20px;

}

#inputBox{
  position: relative;
  margin: 20px 0;
}

#inputBox input{
  width: 100%;
  padding: 12px 15px;
  background:none ;
  border: none;
  outline:none;
  color: var(--preto);
  font-size: 18px;
  border-bottom: 2px solid var(--branco);
  transition: 0.4s;
}

#inputBox input:focus {
  border-color: var(--escurovermelho);
  }

  #inputBox span{
    position: absolute;
    top:50%;
    left: 15px;
    color: var(--escuroverde);
    font-size: 16px;
    pointer-events: none;
    transition:0.4s;
    transform: translateY(50%);
  }

  #inputBox input:focus + span,
  #inputBox input:not(:placeholder-shown) + spam {
    top: 5px;
    font-size: 12px;
    color: var(--escurovermelho);
  }

.container {  
   display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  padding: 10px;
}

.container div {
  background-color: var(--branco);
  padding: 10px;
}
.container div.header {
  background-color: var(--escurovermelho);
  color: var(--branco);
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
  width: 30%;
  text-align: center;
  font-size: 1,1rem;
  
}
.container div.content {
  grid-area: content;
  width: 70%;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}

.gallery {
  display: flex;
  justify-content: space-around ;
  padding: 20px;
  background-color: var(--medioverde);
}

.gallery img {
  width: 350px;
  height: auto;
}


footer {
  background-color: var(--escurovermelho);
  color: var(--branco);
  display: flex;
  justify-content:space-between;
  font-size: 0.5rem;
  padding: 10px;
}

table {
  width: 800px;
  margin-top: 100px;
  border-collapse: collapse;
  font-size: 18px;
}

th, td {
padding: 16px 24px;
text-align: left;
}

thead th {
  background-color: var(--escurovermelho);
  color: var(--branco);
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: var(--medioverde);
  color: var(--branco);
}

tbody tr:nth-child(even) {
  background-color: var(--escuroverde);
  color: var(--branco);
}

#curriculo {
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 10%;
  text-align: center;
}

#curriculo div{
  text-align: left;
  font-size: 1.3rem;
}

#sobreMim {
  margin-left: 20%;
  margin-right: 20%;
}

#receita {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-size: 1.3rem;
}

#receita div{
  text-align: left;
}