@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
  --preto: rgb(52, 28, 12);
  --branco: rgb(188, 189, 139);
  --escuroverde: rgb(55, 61, 32);
  --escurovermelho: rgb(96, 21, 32);
  --medioverde: rgb(113, 119, 68);
}

html {
  color-scheme: light;
} 

@media (prefers-color-scheme: dark) {
  :root {
    --preto: rgb(188, 189, 139);
    --branco: rgb(52, 28, 12);
    --escuroverde: rgb(113, 119, 68);
    --escurovermelho: rgb(96, 21, 32);
    --medioverde: rgb(55, 61, 32) ;
  }

  html {
    color-scheme: dark;
  } 
}

[modo-light-dark="light"] {
  color-scheme: light;
  --preto: rgb(52, 28, 12);
  --branco: rgb(188, 189, 139);
  --escuroverde: rgb(55, 61, 32);
  --escurovermelho: rgb(96, 21, 32);
  --medioverde: rgb(113, 119, 68);
}

[modo-light-dark="dark"] {
  color-scheme: dark;
  --preto: rgb(188, 189, 139);
  --branco: rgb(52, 28, 12);
  --escuroverde: rgb(113, 119, 68);
  --escurovermelho: rgb(96, 21, 32);
  --medioverde: rgb(55, 61, 32) ;
}


/*html {
  color-scheme: light dark;
}
*/
body {
  background-color: var(--branco);
  color: var(--preto);
}

header {
  padding: 20px;
  text-align: center;
  font-size: 75px;
  background: var(--escuroverde);
  color: var(--branco);
  font-family:  "Bitcount Grid Single";
  font-size:xx-large;
  font-weight: 900;
  font-style: bold;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

a {
  background-color: var(--medioverde);
  color: var(--escurovermelho);
  border: 5px solid var(--escurovermelho);
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
}

a:hover, a:active {
  background-color: var(--escurovermelho);
  color: var(--branco);
}

img {
  width: 200px;
  height: auto;
}

.header {
  text-align: center;
  font-family: 'Bitcount Grid Single';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  background-color: var(--escurovermelho);
  color: var(--branco);
  padding: 20px;
}

.news {
  background-color: var(--escuroverde);
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#titulo {  
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

p {
  
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    max-width: 60ch;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--medioverde);
  padding: 30px;
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:  
    "wdth" 100;

}



.container {  
   display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  padding: 10px;
}

.container div {
  background-color: var(--branco);
  padding: 10px;
}
.container div.header {
  background-color: var(--escurovermelho);
  color: var(--branco);
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
  width: 30%;
}
.container div.content {
  grid-area: content;
  width: 70%;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}

.gallery {
  display: flex;
  justify-content: space-around ;
  padding: 20px;
  background-color: var(--medioverde);
}

.gallery img {
  width: 350px;
  height: auto;
}

footer {
  background-color: var(--escurovermelho);
  color: var(--branco);
  display: flex;
  justify-content:space-between;
  font-size: 14px;
  padding: 10px;
}

#botao {
  background-color: transparent;
  border: none;
  cursor: pointer;
  }

#botao img {
  width: 30px;
  height: auto;
}
